canvas {
    background: rgb(10, 52, 239);
    border: 15px solid rgb(248, 168, 20);
    border-radius: 50px;
  }  
  /* 4. Over lay the score on the top left corner of the canvas.*/
  #score {
    position: absolute;
    top: 20px;
    left: 380px;
    z-index: 100;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Mansalva', cursive;
    color: #fff;
  }
  